@keyframes solarsystem {
    
}
.main{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 500px;
    animation-name: solarsystem;
}
.main1{
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-top: -620px;
    margin-left: 570px;
}
.main2{
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 650px;
}
.main3{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-left: 550px;
    margin-top: -200px;
}
.main:hover{
    transform: rotate(90deg);
}